@reference "tailwindcss";

.navigation {
  @apply hidden w-full z-20 bg-white/30 backdrop-blur-md h-[5lvh] sticky top-0 flex justify-around items-center 
                transition duration-300 delay-1600 ease-out pr-5 pl-5
                lg:block;
}

.navigationNotVisible {
  @apply translate-y-50 opacity-0;
}

.aboutMe {
  @apply transition duration-300 delay-2000 ease-out w-2/12;
}

.services {
  @apply transition duration-300 delay-2400 ease-out w-2/12;
}

.aboutTFP {
  @apply transition duration-300 delay-2600 ease-out w-2/12;
}

.publications {
  @apply transition duration-300 delay-2800 ease-out w-2/12;
}

.signToServices {
  @apply -rotate-6 -translate-y-10 transition-transform duration-500 ease-out w-4/12;
}

.signToServicesSpan {
  @apply font-['Miamanueva'] text-4xl text-green-50 text-shadow-lg text-shadow-green-950 
                    transition duration-300 ease-out delay-3000;
}

.stuck {
  @apply translate-y-1 rotate-0;
}

.stuckHover {
  @apply inline-block  hover:scale-110 hover:-translate-y-12 transition-all ease-out duration-200;
}

.aHover {
  @apply transition-all ease-out duration-300 hover:text-shadow-lg pr-1 pl-1 hover:font-bold hover:text-green-50;
}

.aHover:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.signHover {
  @apply inline-block  hover:scale-110 hover:translate-y-2 transition-all ease-out duration-200;
}

.signA {
  @apply hover:text-shadow-lg hover:text-shadow-emerald-900;
}
