@reference "../../App.css";

.header {
  @apply w-full h-[calc(100dvh-42px)]   flex flex-col justify-between overflow-hidden;
}
.headerWrapper {
  @apply flex flex-col pt-30
  max-tinym:landscape:pt-5
  landscape:pt-5
  lg:landscape:pt-15;
}

/*animations*/
.slogan {
  @apply lg:text-5xl
  sm:text-2xl
  md:text-4xl
  text-2xl
  max-tinym:text-xl
   text-green-50 self-start ml-40 transition duration-800 delay-300 ease-out;
}
.sloganNotVisible {
  @apply -translate-y-full opacity-0;
}

.nameBorderWrapper {
  @apply xllg:text-8xl
  xl:text-7xl
  lg:text-6xl
  md:text-5xl
  sm:text-4xl
  max-tinym:text-2xl
  text-3xl
  
  border-2 border-amber-200 w-10/12 
                font-['Engry',serif]  text-shadow-lg text-shadow-green-950  text-green-50 self-center  
                p-4 flex flex-col
                transition duration-800 delay-600 ease-out;
}

.nameBorderWrapperNotVisible {
  @apply opacity-0;
}

.name {
  @apply self-start ml-3 transition duration-800 delay-900 ease-out;
}

.nameNotVisible {
  @apply -translate-x-full opacity-0;
}

.surname {
  @apply self-end transition duration-900 delay-1200 ease-out;
}

.surnameNotVisible {
  @apply translate-x-full opacity-0;
}

.profession {
  @apply text-green-50 self-end mr-20 transition duration-900 delay-1400 ease-out text-shadow-green-950 text-shadow-2xs
  md:mr-30
  max-tinym:mr-10;
}

.professionNotVisible {
  @apply translate-y-full opacity-0;
}

.strong {
  @apply xl:text-[2rem]
  lg:text-2xl
  md:text-2xl
  text-xl
  max-tinym:text-lg;
}
