@reference "tailwindcss";

.footer {
  @apply relative
  lg:w-[80lvw]
  w-[100lvw]  text-amber-50 flex justify-center;
}

.footerSection {
  @apply flex flex-col items-center;
}

.sectionInnerWrapper {
  @apply flex flex-col items-center bg-[rgba(53,57,43,1)] w-full;
}

.figure {
  @apply relative;
}

.footerImg {
  @apply w-[75lvw] lg:max-w-[600px]  object-contain;
}

.footerHeadding {
  @apply text-lg font-['Engry',serif] font-bold text-green-50 p-3
  md:text-xl;
}

.footerAddress {
  @apply not-italic flex justify-around gap-4;
}

.footerButtonHover {
  @apply transition-transform duration-300 hover:scale-110 origin-center;
}

.footerButtonImg {
  @apply h-[7dvh]
  lg:h-[8dvh];
}

.workStyle {
  @apply text-sm  text-center pb-5;
}
