@import "tailwindcss";

@font-face {
  font-family: "Old Standard TT";
  src: url("/fonts/Cormorant_Unicase/CormorantUnicase-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Old Standard TT";
  src: url("/fonts/Cormorant_Unicase/CormorantUnicase-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Engry";
  src: url("/fonts/engry-font/Engry-Dxa0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Miamanueva";
  src: url("/fonts/miamanueva/miamanueva.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --font-old: "Old Standard TT", serif;
    --nav-height: 80px;
  }

  body {
    font-family: var(--font-old);
  }
}
