@import "tailwindcss";

@font-face {
  font-family: "Old Standard TT";
  src: url("/fonts/Cormorant_Unicase/CormorantUnicase-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Old Standard TT";
  src: url("/fonts/Cormorant_Unicase/CormorantUnicase-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Engry";
  src: url("/fonts/engry-font/Engry-Dxa0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Miamanueva";
  src: url("/fonts/miamanueva/miamanueva.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-old: "Old Standard TT", serif;
  --font-miamanueva: "Miamanueva", serif;
  --font-engry: "Engry", serif;
  --breakpoint-tinym: 25rem;
  --breakpoint-mdlg: 64rem;
  --breakpoint-xllg: 89rem;
  --bg-mobile: url("/bg/mobileBgLarge.webp");
  --bg-desktop: url("/bg/desctopBgLarge.webp");
}

@utility bg-mobile {
  background-image: var(--bg-mobile);
}

@utility bg-desktop {
  background-image: var(--bg-desktop);
}

@layer base {
  :root {
    --nav-height: 80px;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-block-start: 40dvh;
    box-sizing: border-box;
  }

  @media (min-width: theme(--breakpoint-lg)) {
    html {
      scroll-padding-block-start: 0px;
    }
  }

  body {
    font-family: var(--font-old);
  }
}

.appWrapper {
  @apply w-full flex flex-col justify-center items-center relative border-0 m-0 p-0;
}

.contentWrapper {
  @apply flex flex-col w-[100lvw]  border-0 m-0 p-0 
  lg:w-[80lvw];
}

.footerWrapper {
  @apply w-[100lvw]
  lg:w-[80lvw];
}
