@reference "tailwindcss";

/* ВАЖНО ✨ правильный offset под sticky h=42px */
section {
  scroll-margin-top: 42px;
}

/* отключение анимаций */
.no-transform-transition {
  transition: none !important;
}

.listEl {
  @apply border-5 border-r-0 border-l-0 border-emerald-50/20 border-solid  p-4 flex flex-col justify-center items-center;
}

.aMobileMenu {
  @apply transition-all ease-out duration-100 active:text-shadow-lg pr-1 pl-1 active:font-bold active:text-green-50 active:bg-black/50;
}
